body {
  margin: 0;
}
/* body > app > .loading-container {
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
h1 {
  font-size: 2.2rem;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    -webkit-animation: none;
  }
}
